body{
    background-image: url("../image/skylinewall.jpeg");
}
.navbar {
    box-sizing: content-box;
    background-color: #fcf9f7;
    margin-top: auto;
  }
  nav-link {
    color: azure;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  

  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  } 
  a {
    font-size: x-large;
    color: #3F729B;
  }
  .h1 {
    padding: 10px;
  }
  h2 {
    color: #3F729B;
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(233, 30, 99, 0.1);
    color: white;
    text-align: center;
 }