.body {
  background-image: url(../image/bush.png);
}
h1 {
  color: rgb(21, 213, 226);
}
p {
  color: rgb(14, 11, 11);
}

.header {
  background-color: rgb(251, 253, 253);
  box-sizing: border-box;

}


.wrapper { background: #ffffff;

  margin: 0 auto;

}

  
.navbar {
  box-sizing: content-box;
  background-color: teal;
  margin-top: auto;

} 


  h1 {
    color: rgb(15, 15, 15);
    text-align: left;
    font-size: 35px;
    margin-left: auto;
  
  }
  
img {
  float: left;
  margin: 10px;
  padding-left: 50px;
}

  p {
    font-family: 'Helvetica';
    font-size: 20px;
    border: 0px;
    margin: 20px 20px 20px 20px;
  }
  
  footer {
    display: block;
    position: relative;
  } 

  
  












































